div {
  padding: 1.5px;
}

.main {
  max-width: 1000px;
  margin: auto;
}

h1 {
  font-size: 25px;
  word-break: break-all;
  color: aqua;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 18px;
  background-color: whitesmoke;
  border-color: #dddddd;
  margin: 100px;
}

input[type=text], textarea {
  width: 100%;
  padding: 10px;
  border: 3px solid #ccc;
  border-radius: 2px;
  box-sizing: border-box;
  margin-top: 3px;
  margin-bottom: 20px;
  resize: vertical;
}

input[type=submit] {
  background-color: aqua;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 1px;
  cursor: pointer;
  float: left;
}

input[type=submit]:hover {
  background-color: aqua;
}

.container {
  border-radius: 1px;
  background-color: #f2f2f2;
  padding: 5px;
}

.navbar {
  overflow: hidden;
  background-color: white;
  position: fixed;
  top: 0;
  width: 80%;
  visibility: hidden;
}

.navbar a {
  float: right;
  display: block;
  color: gray;
  text-align: center;
  padding: 14px 16px;
  font-size: 17px;
  visibility: visible;
}

.navbar a:hover {
   background: #ddd;
   color:white;
}

.content {
  width: 80%;
  background: white;
  margin: auto;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #666666;
  font-size: 50%;
  border-top: 5px solid #4aaaa5;

}