div {
  padding: 1.5px;
}

.main {
    max-width: 1000px;
    margin: auto;
  }
  
  h1 {
    font-size: 25px;
    color: aqua;
  }

  body {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 18px;
    background-color: whitesmoke;
    border-color: #dddddd;
    margin: 100px;
    padding: 20px;
  }

  aside {
    float: right;
    width: 100%;
    padding: 400px;
    margin-left: 300px;
    margin-right: 300px;
    color: rgb(185, 108, 108);
    background: white;
  }

  .content {
    width: 80%;
    background: white;
    margin: auto;
  }

  .navbar {
    overflow: hidden;
    background-color: white;
    position: fixed;
    top: 0;
    width: 70%;
    visibility: hidden;
  }

  .navbar a {
    float: right;
    display: block;
    color: gray;
    text-align: center;
    padding: 14px 16px;
    font-size: 17px;
    visibility: visible;
  }

  .navbar a:hover {
     background: #ddd;
     color:white;
  }

h2 {
  color: aqua;
  word-break: break-all;
}

.clearfix::after {
  content: "";
  clear:both;
  display: table;
}

img { 
  float: left;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #666666;
  font-size: 50%;
  border-top: 5px solid #4aaaa5;

}