div {
  padding: 15px;
}

body {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 18px;
    background-color: whitesmoke;
    border-color: #dddddd;
    line-height: 1.4em;
    margin: 0;
  }

  aside {
    float: right;
    width: 33%;
    padding: 218px;
    margin-left: 100px;
    margin-right: 100px;
    color: rgb(185, 108, 108);
    background: white;
  }

  .content {
    width: 50%;
    background: white;
    margin: auto;
    padding: 25px;
  }

  .header {
    border-bottom: 0px;
    background-color: #4aaaa5;
    border-color: #666666;
    padding:10px;
    background-color: #ffffff;
    color: black;
  }
  
  .h1 {
    padding: 2px;
    margin-bottom: 20px;
    font-size: 28px;
    background-color: aqua;
    color: white;
    text-align: left;
  }

  .navbar {
    overflow: hidden;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
  }

  .navbar a {
    float: right;
    display: block;
    color: gray;
    text-align: center;
    padding: 14px 16px;
    font-size: 17px;
  }

  .navbar a:hover {
     background: #ddd;
     color:white;
  }

h2 {
  color: aqua;
}

.clearfix::after {
  content: "";
  clear:both;
  display: table;
}

img { 
  border-top: 2px solid gray;
  float: left;
}

.footer {
       position: fixed;
       left: 0;
       bottom: 0;
       width: 100%;
       text-align: center;
       background-color: #666666;
       font-size: 50%;
       border-top: 5px solid #4aaaa5;

}


* {
  box-sizing: border-box;
}

input[type=text], textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: aqua;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
  }
}

